extends ./layout/layout.pug
block cuerpo
    .container.mt-5.pt-5
        .col-md-4.mx-auto
            .card
                //falta procedimiento de ingreso
                .card-header.text-center
                    img.img-fluid(src="/images/logo_minsa.jpg",alt="Logo Minsa")
                .card-body
                    form(action="/ingresar", method="POST")
                        .form-group
                            input.form-control(type="text",name="usuario",placeholder="Usuario", required)
                        .form-group
                            input.form-control(type="password",name="clave",placeholder="Clave",required)
                        .form-group
                            button.btn.btn-primary.btn-block(type="submit") Ingresar